<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> kikala message </title>
        
    </head>
    <body>

		<h1>Bonjour, {{ name }} </h1>

		<a href="{{ url ('wf3_kika_updatePassword',{'email':email, 'token':token}) }} " >{{ url ('wf3_kika_updatePassword',{'email':email, 'token':token}) }}</a>

    </body>
</html>    