{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block stylesheets %}
	{{ parent() }} <link rel ="" /> 
{% endblock %}
	
{% block title %}
{{ parent()}} - a propos de Kikala

{% endblock %}	


{% block body %}
<h1>
Kikala !
</h1>

<h2> Système de formations communautaires 
basé sur l'échange  </h2>

<div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum quis dolorem ullam tenetur voluptatum minima incidunt itaque, nemo harum dolores velit, laudantium, rem fugiat voluptas consequuntur facilis. Recusandae, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio molestias praesentium voluptate ipsam nostrum aspernatur debitis, necessitatibus placeat asperiores beatae quisquam hic. Deserunt neque aliquid eos, eligendi ea impedit molestiae. 	</div>



{% endblock %}


