{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block stylesheets %}
	{{ parent() }} <link rel ="" /> 
{% endblock %}

{% block title %}
{{ parent()}} - Wellcome !

{% endblock %}	
	


{% block body %}
<h1>
Accueil !
</h1>



{% endblock %}


 