{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block stylesheets %}
	{{ parent() }} <link rel ="" /> 
{% endblock %}

{% block title %}
{{ parent()}} - Wellcome !

{% endblock %}	
	


{% block body %}
<h1>
Kikala !
</h1>

<h2>Système de formations communautaires 
basé sur l'échange </h2>

<div> Nombres de formations en cours:  {{ kikalaFormations }}  </div>
<div> Nombres de Kikologues inscrits:  {{ kikologueInscrit }} </div>





{% endblock %}


 