{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block title %}
	{{ parent() }} - mes formations !
{% endblock %}
	
	


{% block body %}
<h1>
Mes formations en tant que prof !
</h1>



{# novalidate desactive la validation html5 des pop up #}
{#   #}
{# {{ form(register_form, {'attr': {'novalidate': 'novalidate'}})}}
{% endblock %} #}

{# wf3_wikibundle_content_darecreated #}
{# chargement du calendar jQuery UI #}


{% endblock %}
